<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee - IEMS</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>
<body>

<div id="navigation-placeholder"></div>


<div style="margin-left: 250px; padding: 20px;"> <!-- Gerekli olduğu kadar sol boşluk ve dolgu ayarlayın -->
    <h2>EMPLOYEE</h2>
    <h3>Inventory Management and Supply System</h3>
    <h4>  IEMS'e Hoşgeldiniz</h4>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="/static/employee/employee.js"></script>
</body>
</html>

