        /* Stil for sidebar */
        .sidebar {
            height: 100%;
            width: 230px;
            position: fixed;
            left: 0;
            top: 0;
            background-color: #f0f0f0;
            padding: 20px;
        }

        .logo h2 {
            margin: 0;
            text-align: center; /* Logoyu ortala */
        }

        .menu h4 {
            text-align: center; /* Menü başlıklarını ortala */
        }

        .links-container {
            list-style: none;
            padding: 0;
        }

        .links-container li {
            margin-bottom: 5px;
        }

        .links-container li a {
            color: #333;
            text-decoration: none;
            display: block;
            margin-left: 10px; /* Bağlantıları ortala */
        }

        .links-container li a:hover {
            color: #555;
            background-color: #ddd;
        }

        .blur {
            filter: blur(5px);
        }

        #editProductModal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(400px); /* Dikey uzunluğun 4/3 katı */
            max-height: calc(750px); /* Maksimum dikey uzunluk */
            background-color: #fefefe;
            border: 1px solid #888;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1050;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            outline: 0;
        }

        .modal-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1040;
            background-color: #000;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            position: relative;
        }

        .close {
            position: absolute;
            top: 0;
            right: 0;
            color: #aaa;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        #editProductForm label {
            display: block;
            margin-bottom: 10px;
        }

        #editProductForm input {
            width: calc(100% - 20px);
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        #editProductForm button {
            width: calc(100% - 20px);
            padding: 10px;
            background-color: #637a8c;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #editProductForm button:hover {
            background-color: #637a8c;
        }

        .updateProductButton {
            background-color: #637a8c; /* Arka plan rengi */
            color: white; /* Metin rengi */
            border: none; /* Kenarlık yok */
            border-radius: 3px; /* Kenar yuvarlatma */
            padding: 6px 10px; /* İç dolgu */
            width: 100px; /* Genişlik */
            transition: background-color 0.3s ease; /* Geçiş efekti */

        }
        .updateProductButton:hover {
            background-color: #91a7c4; /* Mouse üzerine gelindiğinde arka plan rengi */
        }

        .deleteProductButton {
            background-color: #a32638; /* Arka plan rengi */
            color: white; /* Metin rengi */
            border: none; /* Kenarlık yok */
            border-radius: 3px; /* Kenar yuvarlatma */
            padding: 6px 10px; /* İç dolgu */
            width: 100px; /* Genişlik */
        }
        .logout-container {
            background-color: #fff; /* Arka plan rengi */
            border-radius: 5px; /* Yuvarlatılmış köşeler */
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Dört bir tarafa gölge */
        }

        .logout-container form {
            margin: 0; /* Formun kenarlardan boşluk bırakmaması */
        }
