<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Company - IEMS</title>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="update-company.css">



</head>
<body>

<div id="navigation-placeholder"></div>


<!-- Ana içerik -->
<div style="margin-left: 250px; padding: 20px;"> <!-- Gerekli olduğu kadar sol boşluk ve dolgu ayarlayın -->
  <h4> Edit Company</h4>
  <hr class="mt-0 mb-4">

  <table id="example" class="display" style="width:100%">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Sector</th>
      <th>Town</th>
      <th>City</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
  <div class="alert info">
    <strong>Bilgilendirme!</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Şirket başarıyla güncellendi.
  </div>

</div>

<!-- Kullanıcı Düzenleme Formu -->
<div id="editCompanyModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Edit Company </h2>
    <form id="editCompanyForm">
      <input type="hidden" id="editCompanyId" name="id">
      <label for="editCompanyName">Name:</label><input type="text" id="editCompanyName" name="name">
      <label for="editCompanySector">Sector:</label><input type="text" id="editCompanySector" name="sector">
      <label for="editCompanyTown">Town:</label><input type="text" id="editCompanyTown" name="town">
      <label for="editCompanyCity">City:</label><input type="text" id="editCompanyCity" name="city">
      <button id="updateCompanyButton" type="submit">Save</button>
    </form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="/static/admin/admin.js"></script>
<script src="update-company.js"></script>

</body>
</html>
